* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
h1 {
  color: greenyellow;
}
.size {
  padding-top: 25px;
}
.control {
  padding-bottom: 25px;
}
.count-step {
  margin-right: 15px;
}
.count {
  padding-bottom: 25px;
}
.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  margin-right: 10px;
}
